.pageTitle>h1 { margin-left: 10%; width: 80%; }
.select_data {margin-left: 10%;}

#div_loader{
    text-align: center;
    margin-top: 20%;
    height: 100vh;
}
.img_loader{
    width: 99px; height: 99px;
}

footer{
    margin-left: 10%;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.chart_div_delegados{
    width: 96%;
    margin-left: 2%;
    